
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: rgb(246, 246, 252);
    padding: 16px 0px;
    color: rgb(29, 17, 70);

}

header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
header li {
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    margin-left: 16px;
}

header li a{
    color:rgb(29, 17, 70);

}

.container {
    width: auto;
    margin: 0 auto;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 20px;
}

section h2,
.articles article{
    margin-bottom: 16px;
}



.articles article h3{
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a{
    background-color: rgb(177, 210, 238);
    color: rgb(13, 11, 48);
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 10%;
    text-decoration: none;
    font-weight: bold;
} 

.articles article a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background: rgb(212, 223, 233);;
}

.articles article p,
.articles article a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.articles article h3{
    font-size: 30px;
}

section h2{
    font-size: 38px;
}

#sports{
    background-color: aquamarine;
}

#sports .articles article a{
    background-color: rgb(72, 238, 30);
}

#economy{
    background-color: rgba(251, 255, 0, 0.384);
}

#economy .articles article a{
    background-color: rgb(228, 150, 7);
}

#entretenimento{
    background-color: rgba(182, 27, 212, 0.623);
}

#entretenimento .articles article a{
    background-color: rgb(89, 55, 238);
}

#tecnologia{
    background-color: rgba(36, 228, 228, 0.623);
}

#tecnologia .articles article a{
    background-color: rgb(238, 55, 64);
}